html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      background-image: linear-gradient(to bottom, #00008b, #7F1BC7, #7D3DAA, #9C026A, #A40505);
    }

p {
      font-family: Mono-Sans;
      font-style: italics;
      text-align: center;
      color: white;
}
      
