html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      background-image: linear-gradient(to bottom, #6866FE, #FD6666);

p {
      font-family: Mono-Sans;
      font-style: italics;
      text-align: center;
      color: white;
}

h1 {
      font-family: Ariel;
      text-align: center;
      color: white;
}

a {
    display: block;
    text-align: center;
    font-family: 'Lucida Console', monospace;
    color: #000000;
    text-decoration: none;
    font-style: italic;
    border: 1px solid #000000;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
  }
